/* start global rules  */
:root{
    --main-color:#2196f3;
    --second-color:#1787e0;
    --transition-dur:0.3s;
    --padding-section:100px;
    --background-color:#ececec;
}
body{
    font-family: 'Cairo', sans-serif;
}
html{
    scroll-behavior: smooth;
}
/* start main heading  */
.main-title{
    position: relative;
    margin:0 auto 80px;
    border: 2px solid ;
    width: fit-content;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 30px;
    transition: var(--transition-dur);
    z-index: 1;
}
.main-title::before,
.main-title::after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background-color: var(--main-color);
    border-radius: 50%;
}
.main-title::before{
    left: -40px;
}
.main-title:hover:before{
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}
.main-title::after{
    right: -40px;
}
.main-title:hover::after{
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}
/* start animation */
@keyframes left-move {
    50% {
        left: 0;
        width: 15px;
        height: 15px;
    }
    100%{
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}
.spikes{
    position: relative;
}
.spikes::before{
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1;
    height: 30px;
    background-image: linear-gradient(135deg, white 25%, transparent 25%),linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
}
.dots{
    position: absolute;
    background-image: url("../images/dots.png");
    height: 186px;
    width: 204px;
    background-repeat: no-repeat;
}
.dots-up{
    top: 200px;
    right: 0;
}
.dots-down{
    bottom: 200px;  
    left: 0;
}
/* ------ */
@keyframes right-move {
    50%{
        right: 0;
        width:15px;
        height:15px;
    }
    100%{
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}
/* end animation  */
.main-title:hover{
    color:white;
    border: 2px soild white;
    transition-delay: 0.5s;
}
/* end main heading  */
/* end global rules */
/* variables */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
/* responsive */
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* small screen  */
@media (min-width:768px) {
    .container{
        width: 750px;
    }
}
/* meduiem screen */
@media (min-width:992px) {
    .container{
        width: 970px;
    }
}
/* large screen */
@media (min-width:1200px) {
    .container{
        width: 1170px;
    }
}
/* start header */
.header{
    background-color: white;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}
.header .header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;  
    flex-wrap: wrap;
    position: relative;
}
.header-content .logo{
    color: var(--main-color);
    font-weight: bold;
    font-size: 26px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width:767px) {
    .header-content .logo{
        width: 100%;
        height: 40px;
    }
}
.header .header-content .nav{
    display: flex;
}
@media (max-width:767px) {
    .header .header-content .nav{
        margin: auto;
    }
}
.header .header-content .nav > li:hover .mega-menu{
    opacity: 1;
    top: calc(100% + 1px);
    z-index: 100;
}
.header .header-content .nav > li > a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    color: black;
    position: relative;
    height: 72px;
    overflow: hidden;
    transition: var(--transition-dur);
}
@media (max-width:767px) {
    .header .header-content .nav > li > a{
        padding: 10px;
        height: 40px;
    }
}
.header .header-content .nav > li > a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--transition-dur);
}
.header .header-content .nav > li > a:hover{
    color: var(--main-color);
    background-color: #fafafa;
}
.header .header-content .nav > li > a:hover::before{
    left: 0;
}
/* start mega-menu */
.mega-menu{
    position: absolute;
    display: flex;
    gap: 40px;
    background-color: white;
    left: 0;
    top: calc(100% + 50px);
    z-index: -1;
    width: 100%;
    padding: 20px;
    border-bottom: 4px solid var(--main-color);
    opacity: 0;
    transition: top var(--transition-dur) , opacity var(--transition-dur);
}
@media (max-width:767px) {
    .mega-menu{
        display: block;
    }
}
.mega-menu .image img{
    max-width: 100%;
}
@media (max-width:991px) {
    .mega-menu .image{
        display: none;
    }
}
.header-content .nav .links{
    min-width: 250px;
    flex: 1;
}
.header-content .nav .links  li{
    position: relative;
}
.header-content .nav .links  li:not(:last-child){
    border-bottom: 1px solid #e9e6e6;
}
@media (max-width:767px) {
    .header-content .nav .links:first-of-type li{
        border-bottom: 1px solid #e9e6e6;
    }
}
.header-content .nav .links  li::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: #fafafa;
    transition: var(--transition-dur);
    z-index: -1 ;
}
.header-content .nav .links  li:hover::before{
    width: 100%;
}
.header-content .nav .links  li a{
    color: var(--main-color);
    display: block;
    padding: 20px;
    font-weight: bold;
    font-size: 18px;
}
.header-content .nav .links  li a i{
    margin-right: 20px;
}
/* end mega-menu  */
/* start landing */
.landing{
    position: relative;
}
.landing::before{
    content: '';
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.landing-content{
    display: flex;
    align-items: center;
    min-height: calc(100vh - 72px);
    padding-bottom: 120px;
}
.landing-content .text{
    flex: 1;
}
@media (max-width:991px) {
    .landing-content .text{
        text-align: center;
    }
}
.landing-content .text h1{
    margin: 0;
    font-size: 30px;
    letter-spacing: -1px;
}
@media (max-width:991px) {
    .landing-content .text h1{
        font-size: 35px;
    }
}
@media (max-width:767px) {
    .landing-content .text h1{
        font-size: 30px;
    }
}
.landing-content .text p{
    font-size: 23px;
    color: rgb(119, 119, 119);
    line-height: 1.7;
    margin: 5px 0 0;
    max-width: 500px;
}
@media (max-width:991px) {
    .landing-content .text p{
        margin: 10px auto;
    }
}
@media (max-width:767px) {
    .landing-content .text p{
        font-size: 17px;
    }
}
.landing-content .image img{
    width: 600px;
    max-width: 100%;
    position: relative;
    animation: up-and-down 5s linear infinite;
}
@media (max-width:991px) {
    .landing-content .image img{
        display: none;
    }
}
.landing .go-down{
    position: absolute;
    color: var(--main-color);
    bottom: 30px;
    transform: translateX(-50%);
    left: 50%;
    transition: var(--transition-dur);
}
.landing .go-down i{
    animation: bouncing 1.5s infinite;
}
.landing .go-down:hover{
    color: var(--second-color);
}
/* start animation */
@keyframes up-and-down {
    0% , 100%{
        top:0;
    }
    50%{
        top: -50px;
    }
}
@keyframes bouncing {
    0% ,10% , 20% , 50% , 80% , 100%{
        transform: translateY(0);
    }
    40% , 60% {
        transform: translateY(-15px);
    }
}
/* end animation */
/* end landing */
/* start article  */
.articles{
    padding-top:var(--padding-section) ;
    padding-bottom:var(--padding-section) ;
}
.article-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}
.article-content .box {
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--transition-dur), box-shadow var(--transition-dur);
}
.article-content .box:hover{
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 30%);
}
.article-content .box img{
    width: 100%;
}
.article-content .box .text{
    padding:10px 20px;
}
.article-content .box .text h2{
    margin: 0;
    font-size: 20px;

}
.article-content .box .text p{
    line-height: 1.7;
    color: #777;
}
.article-content .box .info{
    border-top: 1px solid #e6e6e7;
    padding: 20px;
    
}
.article-content .box .info a{
    color: var(--main-color);
    font-weight: bold;
}
.article-content .box .info i{
    color: var(--main-color);
    float: right;
    
}
.article-content .box:hover .info i{
    animation: right-and-left 0.5s linear infinite;
}
/* animation */
@keyframes right-and-left {
    100% {
        transform: translateX(10px);
    }
}
/* end animation  */
/* end article */
/* start gallery  */
.gallery{
    background-color: var(--background-color);
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}
.gallery-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 40px;
}
.gallery-content .box{
    padding: 10px;
    background-color: white;
}
.gallery-content .image{
    position: relative;
    overflow: hidden;
}
.gallery-content .image::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: rgb(255 255 255 / 20%);
    opacity: 0;
}
.gallery-content .image:hover img{
    transform: rotate(5deg) scale(1.1);
}
.gallery-content .image img{
    width: 100%;
    transition: var(--transition-dur);
}
.gallery-content .image:hover::before{
    animation: flashing 0.7s;
    z-index: 1;
}
/* start animation  */
@keyframes flashing {
    0%, 50% {
        opacity: 1;
    }
    100%{
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
/* end animation  */
/* end gallery  */
/* start Features  */
.Features{
    padding-top: var(--padding-section);
    padding-bottom:var(--padding-section);
}
.Features-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    grid-gap: 40px;
}
.Features-content .box{
    position: relative;
    border: 1px solid #ccc;
}
.Features-content .box .image::after{
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0;
    border-style: solid;
    border-width: 0 0 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--transition-dur);
    z-index: 2;
}
.Features-content .box:hover .image::after{
    border-width: 0 500px  170px 0;
    border-color: transparent transparent white transparent;
}
.Features-content .box .image{
    position: relative;
    overflow: hidden;
}
.Features-content .box .image img{
    max-width: 100%;
}
.Features-content .box .text{
    text-align: center;
    padding: 10px;
}
.Features-content .box .text h2{
    position: relative;
    font-size: 30px;
    font-weight: 800;
    width: fit-content;
    margin: auto;
}
.Features-content .box .text h2::after{
    position: absolute;
    content: '';
    left: 15px;
    bottom: -20px;
    width: calc(100% - 30px);
    height: 3px;
    
}
.Features-content .box .text p{
    font-size: 21px;
    line-height: 1.7;
    color: #777;
    margin: 40px 0;
}
.Features-content .box a{
    position: relative;
    display: block;
    width: fit-content;
    margin: 0 auto 40px;
    border: 3px solid ;
    padding: 10px 30px;
    border-radius: 6px;
    transition: var(--transition-dur);
}

.Features-content .box a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}
.Features-content .quality .image::before{
    content: '';
    position: absolute;
    background-color: rgb(244 64 54 / 60%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.Features-content .quality .text h2::after{
    background-color: #f44036;
}
.Features-content .quality a{
    color: #f44036;
    border-color:#f44036 ;
    background: linear-gradient(to right, #f44036 50% , white 50% );
    background-size: 200% 100%;
    background-position: right bottom;
}
.Features-content .box:hover a{
    background-position: left bottom;
    color: white;
}
/* ---------------------------------------- */
.Features-content .time .image::before{
    content: '';
    position: absolute;
    background-color: rgb(0 128 0 / 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.Features-content .time .text h2::after{
    background-color: green;
}
.Features-content .time a{
    color: #008000;
    border-color:#008000 ;
    background: linear-gradient(to right, #008000 50% , white 50% );
    background-size: 200% 100%;
    background-position: right bottom;
}
/* ------------------------------------------------- */
.Features-content .passion .image::before{
    content: '';
    position: absolute;
    background-color: rgb(0 0 255 / 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.Features-content .passion .text h2::after{
    background-color: #0000ff;
}
.Features-content .passion a{
    color: #0000ff;
    border-color:#0000ff ;
    background: linear-gradient(to right, #0000ff 50% , white 50% );
    background-size: 200% 100%;
    background-position: right bottom;
}
/* end Features  */
/* start Testimonials  */
.Testimonials{
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color: var(--background-color);
}
.Testimonials-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 40px;
}
.Testimonials-content .box{
    background-color: white;
    position: relative;
}
.Testimonials-content .box img{
    position: absolute;
    right: -5px;
    top: -48px;
    border-radius: 50%;
    width: 100px;
    border: 10px solid var(--background-color);
}
.Testimonials-content .box h2{
    padding: 0 20px 0;
}
.Testimonials-content .box .title{
    padding: 0 20px 0;
    margin: 0;
    
}
.Testimonials-content .box .rate{
    padding: 10px 20px 0;
    margin: 0;
}
.Testimonials-content .box .rate .filled{
    color: gold;
}
.Testimonials-content .box p{
    padding: 0 20px 0;
    line-height: 1.7;
    color: #777;
}
/* end Testimonials  */
/* start team  */
.team{
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}
.team-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 40px;
}
.team-content .box{
    position: relative;
    transition: var(--transition-dur);
}
.team-content .box:hover img{
    filter: grayscale(100%);
}
.team-content .box::before ,
.team-content .box::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--background-color);
    height: 100%;
    z-index: -2;
    border-radius: 6px;
}
.team-content .box::before{
    width: calc(100% - 60px);
}
.team-content .box::after{
    width: 0;
    z-index: -1;
    background-color:#e4e4e4 ;
    transition: var(--transition-dur);
}
.team-content .box:hover::after{
    width: calc(100% - 60px);
}
.team-content .box .data{
    display: flex;
    align-items: center;
    padding-top: 60px;
}
.team-content .box img{
    width: calc(100% - 60px);
    transition: var(--transition-dur);
    border-radius: 6px;
}
.team-content .box .social{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:17px;
}
.team-content .box .social a{
    padding: 20px 0;
}
.team-content .box .social i{
    color: #777;
}
.team-content .box .social i:hover{
    color: var(--main-color);
}
.team-content .box .text{
    padding: 0 90px 0;
}
.team-content .box .text h3{
    color: var(--main-color);
}
.team-content .box:hover h3{
    color: #777;
}
/* end team  */
/* start services  */
.services{
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color: var(--background-color);
}
.services .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 40px;
}
.services .box{
    background-color: white;  
    position: relative;
    transition: var(--transition-dur);
    counter-increment: services;
} 
.services .box::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -3px;
    background-color: var(--main-color);
    height: 4px;
    width: 0;
    transition: var(--transition-dur);
}
.services .box:hover{
    transform: translateY(-10px)
}
.services .box:hover::before{
    width: 100%;
}
.services .box i{
    display: block;
    margin: 40px auto 30px;
    text-align: center;
    color: #d5d5d5;
}
.services .box h3{ 
    text-align: center;
    font-size: 25px;
    margin: 20px 0 40px;
    color: var(--main-color);
}
.services .box .info{ 
    position: relative;
    padding: 15px;
    background-color: #f9f9f9;
    text-align: right;
} 
.services .box .info:before{ 
    content: "0" counter(services);
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--main-color);
    height: 100%;
    width: 60px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
} 
.services .box .info::after{
    content: '';
    position: absolute;
    background-color: #d5d5d5;
    top: 0;
    height:100%;
    width: 50px;
    left: 80px;
    transform: skewx(-30deg);
}
.services .box .info a{
    color: var(--main-color);
}
/* end services  */
/* start skills  */
.skills{
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}
@media (max-width:991px) {
    .skills img{
        display: none;
    }
}
.skills .skills-content{
    display: flex;
    align-items: center;
}
.skills-content .skill{
    flex: 1;
}
.skills-content .skill .skill-prog{
    padding: 5px 0px;
}
.skills-content .skill-prog h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skills-content .skill-prog h3 span{
    font-size: 13px;
    color: var(--main-color);
    border: 1px solid #ccc;
    padding: 3px 5px;
}
.skills-content .skill .progress{
    position: relative;
    height: 30px;
    background-color: #eee;
}
.skills-content .skill .progress span{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    height: 100%;
}
/* end skills  */
/* start work  */
.Works{
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color: var(--background-color);
}
.Works .work-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Works .work-content .image{
    max-width: 100%;
    margin-right: 100px;
}
@media (max-width:991px) {
    .Works .work-content .image{
        display: none;
    }
}
.Works .work-content .work .box{
    position: relative;
    background-color: #f6f5f5;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}
.Works .work-content .work .box::after{
    content: '';
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    width: 0;
    height: 0;
    background-color: #ededed;
    transition: var(--transition-dur);
    z-index: -1;
}
.Works .work-content .work .box:hover::after{
    width: 100%;
    height: 100%;
}
.Works .work-content .work .box img{
    width: 64px;
    margin-right: 30px;
}
.Works .work-content .work .box .info h3{
    font-size: 22px;
    margin: 0;
}
.Works .work-content .work .box .info p{
    line-height: 1.7;
    color: #777;
    font-size: 18px;
}
/* end work  */
/* start event  */
.events{
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    position: relative;
}
.events .event-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.events .event-content img{
    width: 450px;
}
@media (max-width:991px) {
    .events .event-content img{
        display: none;
    }
}
.events .event-content .info{
    flex: 1;
}
.events .event-content .info .time{
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 10px;
}
.events .event-content .info .time .unit{
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    transition: var(--transition-dur);
}
.events .event-content .info .time .unit:hover{
    border-color: var(--main-color);
}
.events .event-content .info .time .unit span{
    display: block;
    text-align: center;
}
.events .event-content .info .time .unit span:first-child{
    font-size: 30px;
    color: var(--main-color);
    font-weight: bold;
    padding: 20px;
}
.events .event-content .info .time .unit span:last-child{
    border-top: 1px solid #d4d4d4;
    padding: 20px;
}
.events .event-content .info .desc{
    text-align: center;
}
.events .event-content .info .desc h3{
    font-size: 30px;
}
.events .event-content .info .desc p{
    color: #777;
    line-height: 1.7;
    font-size: 19px;
}
.events .event-content .subscribe{
    width: 100%;
    margin-top: 40px;
}
.events .event-content .subscribe form{
    background-color: #f6f5f5;
    width: 600px;
    margin: 40px auto;
    padding: 30px 40px;
    border-radius: 50px;
    display: flex;
    gap: 20px;
}
@media (max-width:767px) {
    .events .event-content .subscribe form{
        width: 100%;
        border-radius: 0;
        flex-direction: column;
    }
}
.events .event-content .subscribe form input[type="email"]{
    border-radius: 50px;
    border: none;
    flex: 1;
    padding: 20px;
    caret-color: var(--main-color);
}
.events .event-content .subscribe form input[type="email"]:focus{
    outline: none;
}
.events .event-content .subscribe form input[type="email"]::placeholder{
    transition: opacity var(--transition-dur);
}
.events .event-content .subscribe form input[type="email"]:focus::placeholder{
    opacity: 0;
}
.events .event-content .subscribe form input[type="submit"]{
    border-radius: 50px;
    border: none;
    padding: 20px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.events .event-content .subscribe form input[type="submit"]:hover{
    background-color: var(--second-color);
}
/* end event  */
/* start pricing  */
.pricing{
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color: var(--background-color);
    position: relative;
}
.pricing .pricing-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 30px;
}
.pricing .pricing-content .box{
    background-color: white;
    position: relative;
    z-index: 2;
}
.pricing .pricing-content .box::before,
.pricing .pricing-content .box::after{
    content: '';
    position: absolute;
    height: 50%;
    background-color: #f6f6f6;
    z-index: -1 ;
    transition: var(--transition-dur);
    width: 0;
}
.pricing .pricing-content .box::before{
    top: 0;
    left: 0;
}
.pricing .pricing-content .box::after{
    bottom: 0;
    right: 0;
}
.pricing .pricing-content .box:hover::before,
.pricing .pricing-content .box:hover::after{
    width: 100%;
}
@media (min-width:1200px) {
    .pricing .pricing-content .box.popular{
        top: -20px;
    }
}
.pricing .pricing-content .box.popular .label{
    writing-mode: vertical-rl;
    background-color: var(--main-color);
    color: white;
    padding: 10px 10px 35px 10px;
    position: absolute;
    right: 20px;
    font-weight: bold;
    font-size: 18px;
    width: 40px;
}
.pricing .pricing-content .box.popular .label::before{
    content: "";
    position: absolute;
    border-style: solid;
    bottom: 0;
    right: 0;
    border-width: 20px;
    border-color: transparent transparent white transparent;
}
.pricing .pricing-content .box .price-holder{
    margin-bottom: 20px;
    text-align: center;
}
.pricing .pricing-content .box .price-holder h3{
    font-size: 25px;
}
.pricing .pricing-content .box .price-holder img{
    width: 80px;
    margin-bottom: 25px;
}

.pricing .pricing-content .box .price-holder .price .amount {
    display: block;
    font-size: 60px;
    font-weight: bold;
    color: var(--main-color);
}
.pricing .pricing-content .box .price-holder .price .time {
    color: #777;
}
.pricing .pricing-content .box .info li{
    position: relative;
    padding: 20px;
    border-top: 1px solid #d4d4d4;
}
.pricing .pricing-content .box .info li::before{
    content: '\f00c';
    font-weight: bold;
    color: var(--main-color);
    font-family: 'Font Awesome 6 Free';
    margin-right: 30px;
}
.pricing .pricing-content .box a{
    display: block;
    border: 1px solid var(--second-color);
    width: fit-content;
    margin: 20px auto 25px;
    padding: 15px 25px;
    border-radius: 6px;
    color: var(--main-color);
    font-weight: bold;
    transition: var(--transition-dur);
}
.pricing .pricing-content .box a:hover{
    background-color: var(--second-color);
    color: white;
}
/* end pricing  */
/* start vidoe  */
.video{
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}
.video .vidoe-content{
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
    border: 1px solid #ddd;
}
@media (max-width:767px) {
    .video .vidoe-content{
        flex-direction: column;
    }
}
.video .vidoe-content .list{
    min-width: 320px;
}
.video .vidoe-content .list .name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    font-weight: bold;
}
.video .vidoe-content .list ul li{
    padding: 20px;
    border-top: 1px solid var(--background-color);
    cursor: pointer;
    background-color: white;
    transition: var(--transition-dur);
}
.video .vidoe-content .list ul li:hover{
    background-color: var(--background-color);
    color: var(--main-color);
}
.video .vidoe-content .list ul li span{
    display: block;
    color: #777;
    margin-top: 5px;
}
.video .vidoe-content .preview{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.video .vidoe-content .preview img{
    max-width: 100%;
}
@media (max-width:767px) {
    .video .vidoe-content .preview img{
        margin-bottom: 10px;
    }
}
.video .vidoe-content .preview .info{
    background-color: white;
    padding: 20px;
}
/* end video  */
/* start state  */
.state{
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-image: url(../images/stats.jpg);
    background-size: cover;
    position: relative;

}
.state::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 90%);
}
.state h2{
    position: relative;
    font-size: 40px;
    width: fit-content;
    margin: 0 auto 40px;
}
.state .state-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-gap: 10px;
    position: relative;
}
.state .state-content .box{
    background-color: white;
    padding: 30px 15px;
    text-align: center;
    opacity: 0.8;
    transition: var(--transition-dur);
    position: relative;
    transition: var(--transition-dur);
}
.state .state-content .box:hover{
    opacity: 1;
}
.state .state-content .box::before,
.state .state-content .box::after{
    content: '';
    position: absolute;
    background-color: var(--main-color);
    width: 0;
    height: 0;
    transition: var(--transition-dur);
}
.state .state-content .box::before{
    bottom:0;
    left: 0;
}
.state .state-content .box::after{
    right: 0;
    top: 0;
}
.state .state-content .box:hover::before,
.state .state-content .box:hover::after{
    width: 3px; 
    height: 100%;
}
.state .state-content .box i{
    margin-bottom: 15px;
}
.state .state-content .box .number{
    display: block;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}
.state .state-content .box .text{
    display: block;
    font-size: 20px;
    color: var(--main-color);
}
/* end state  */
/* start discount  */
.discount{
    
    padding-bottom: var(--padding-section);
}
.discount-content{
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}
.discount-content .image {
    background-image: url(../images/discount-background1.jpg);
    background-size: cover;
    flex-basis: 50%;
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    animation: change-background 10s linear infinite;
}
/* start animation */
@keyframes change-background{
    0% , 100% {
        background-image: url("../images/discount-background1.jpg");
    }
    50%{
        background-image: url("../images/discount-background2.jpg");
    }
}
/* end animation */
.discount-content .image::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(23 135 224 /97%);
    z-index: -1;
}
@media (max-width:991px) {
    .discount-content .image{
        flex-basis: 100%;
    }
}
.discount-content .content{
    padding: 0 20px;
    text-align: center;
}
.discount-content .content img{
    width: 300px;
    max-width: 100%;
}
.discount-content .content h2{
    font-size: 40px;
    letter-spacing: -2px;
}
.discount-content .content p{
    line-height: 1.6;
    font-size: 18px;
    max-width: 500px;
}
.discount-content .form{
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
}
@media (max-width:991px) {
    .discount-content .form{
        flex-basis: 100%;
    }
}
.discount-content .form .input{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    caret-color: var(--main-color);
}
.discount-content .form .input:focus{
    outline: none;
}
.discount-content .form textarea.input{
    resize: none;
    height: 200px;
    
}
.discount-content .form [type="submit"]{
    padding: 15px 40px;
    width: 100%;
    color: white;
    font-weight: 800;
    font-size: 20px ;
    background-color: var(--main-color);
    border: none;
    cursor: pointer;
    transition: var(--transition-dur);
}
.discount-content .form [type="submit"]:hover{
    background-color: var(--second-color);
}
/* end discount  */
/* start footer  */
.footer{
    padding: 70px 0 0;
    background-color: #191919;
}
@media (max-width:767px) {
    .footer{
        text-align: center;
    }
}
.fotter-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-gap: 40px;
}

.fotter-content .box h2{
    margin: 0;
    font-size: 50px;
    font-weight: 800;
    color: white;
}
.fotter-content .box .social{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
@media (max-width:767px) {
    .fotter-content .box .social{
        justify-content: center;
    }
}
.fotter-content .box .social li{
    margin-right: 10px;
}
.fotter-content .box .social li a {
    color: #b9b9b9;
    background-color: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    transition: var(--transition-dur);
}
.fotter-content .box .social .facebook:hover{
    background-color: #1877f2;
}
.fotter-content .box .social .youtube:hover{
    background-color: #ff0000;
}
.fotter-content .box .social .twitter:hover{
    background-color: #1da1f2;
}
.fotter-content .box .text{
    font-size: 18px;
    line-height: 2;
    color: #b9b9b9;
}
.fotter-content .box .links li{
    padding: 15px 0;
    transition: var(--transition-dur);
}

.fotter-content .box .links li:not(:last-child){
    border-bottom: 1px solid #444;
}
.fotter-content .box .links li:hover{
    padding-left: 15px;
}
.fotter-content .box .links li:hover a{
    color: white;
}
.fotter-content .box .links li a{
    color: #b9b9b9;
    transition: var(--transition-dur);
}
.fotter-content .box .links li a::before{
    content: "\f101";
    font-weight: 900;
    font-family: 'Font Awesome 6 Free';
    color: var(--main-color);
    margin-right: 15px;
}
.fotter-content .box .line{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
@media (max-width:767px) {
    .fotter-content .box .line{
        flex-direction: column;
    }
}
.fotter-content .box .line i{
    font-size: 25px;
    color: var(--main-color);
    margin-right: 15px;
}
@media (max-width:767px) {
    .fotter-content .box .line i{
        margin-bottom: 15px;
    }
}
.fotter-content .box .line .info{
    line-height: 1.6;
    color: #b9b9b9;
    flex: 1;
}
.fotter-content .box .line .info span{
    display: block;
}
.fotter-content .box.footer-gallery img{
    width: 78px;
    border: 3px solid white;
    margin: 2px;
}
.footer .copyright{
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid #444;
}
/* end footer  */